/* .addImage {
    display: flex;
    flex-direction: column;
} */

.addImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-file > input {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
    padding: 7px;
    border-radius: 4px;
    margin-right: 12px;
}

.button-submit {
    background-color: #2bac2b;
    color: white;
    border-radius: 7px;
    padding: 10px;
    padding-inline: 13px;
    border: none;
    /* outline: none; */
    font-size: 10px;
}

.image-tempo {
    width: 100px;
    height: 100px;
    display: flex;
    margin-top: 15px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin: 10px;
}

.image-item {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-inline: 10px;
    flex: 1;
}

.img-wrapped {
    /* display: flex; */
    width: 300px;
    height: 150px;
    border-radius: 10px;
}