.navbar-wrapp {
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid lightgray;
    background-color: lightsteelblue;
}

.navbar-title {
    flex: 1;
    padding-left: 5px;
}

.navbar-link {
    padding: 10px;
    /* display: flex; */
    /* justify-content: space-between; */
}

.navbar-title > a {
    text-decoration: none;
    color: black;
}

.navbar-link > a {
    text-decoration: none;
    color: black;
}

.navbar-link:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.button-link {
    background: none!important;
    border: none;
    padding: 0!important;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}